<!DOCTYPE html>
<html>
<head>
<title>Corona Search</title>
<!-----Including CSS for different screen sizes----->
<link rel="stylesheet" type="text/css" href="responsiveform.css">
<link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)" href="responsiveform1.css" />
<link rel="stylesheet" media="screen and (max-width: 600px) and (min-width: 351px)" href="responsiveform2.css" />
<link rel="stylesheet" media="screen and (max-width: 350px)" href="responsiveform3.css" />
<link rel="stylesheet" href="new.css" type="text/css">    

</head>
<body>
<div id="envelope">
<h1 id="mainh">CORONA SEARCHER</h1>
<form action="\done" method="post">
<label  >COUNTRY
<input name="name" placeholder="Enter the name of the country" type="text" width="50px;" required="required"/>
</label>
<div class="container">
    <div id="ansr">
		<p><%= result%></p>
    </div>
 <ul>
  <li>
    <input type="radio" id="f-option" name="selector" value="deaths" required="required"/>
    <label for="f-option">Deaths</label>
    
    <div class="check"></div>
  </li>
  
  <li>
    <input type="radio" id="s-option" name="selector" value="confirmed"/>
    <label for="s-option">Confirmed Cases</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
  
  <li>
    <input type="radio" id="t-option" name="selector" value="recovered"/>
    <label for="t-option">Recovered</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
</div>
<input id="submit" type="submit" value="SEARCH"/>
</form>
</div>
</body>
</html>